* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* SCSS HEX
$black-shadows: #c2b2b4ff;
$english-violet: #6b4e71ff;
$charcoal: #3a4454ff;
$dark-electric-blue: #53687eff;
$misty-rose: #f5ddddff; */


a:link, a:visited, a:hover, a:active {
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  height: 50px;
  left: 10px;
  pointer-events: none;
}

.App-header {
  background-color: #c2b2b4ff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nav {
  display: flex;
  justify-content: space-evenly;
}

.App-nav li a {
  padding: 13px 10px;
  margin: 0 5px;
  border-radius: 3%;
  text-decoration: none;
}

.App-nav li.active a {
    background-color: #6b4e71ff;
}

.App-nav li:hover a{
  background-color: #6b4e71ff;
  cursor: pointer;
}

.App-content {
  padding: 10px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

ul {
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}

.is-active {
  background-color: #626C80;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}